<div id="content">
    <div class="container">
        <h1 class="regish1"> 4 BƯỚC ĐƠN GIẢN ĐỂ VÀO THI </h1>
        <div class="guideTest">
            <ul>
                <li>
                    <span>1</span>
                    <img src="./assets/images/mui-ten.png">
                </li>
                <li>
                    <span>2</span>
                    <img src="./assets/images/mui-ten.png">
                </li>
                <li>
                    <span>3</span>
                    <img src="./assets/images/mui-ten.png">
                </li>
                <li>
                    <span>4</span>
                </li>
            </ul>
            <ul>
                <li class="w235">
                    1. <a href="http://thitienganh.click2learn.vn/dang-ky">Đăng ký tài khoản</a>
                </li>
                <li class="w235">
                    2. Chọn chứng chỉ, kỹ năng
                </li>
                <li class="w235">
                    3. Vào thi
                </li>
                <li>
                    4. Nhận kết quả thi
                </li>
            </ul>
        </div>
    </div>
    <div class="container mt30">
        <h1 class="chos"> CHỌN CHỨNG CHỈ THI </h1>
        <!-- start 1 -->
        <div class="courses mt20" id="list-cour">
            <div class="row-fluid">
                <div class="span4">
                    <div class="item">
                        <div class="ch-item ch-img-4 thumb">
                            <div class="ch-info">
                            </div>
                        </div>
                        <p>Kiểm tra trình độ</p>
                        <a class="btn" href="?r=category&catid=1">Vào thi ngay</a>
                    </div>
                </div>
                
                <div class="span4">
                    <div class="item">
                        <div class="ch-item ch-img-2 thumb">
                            <div class="ch-info">
                            </div>
                        </div>
                        <p>Chứng chỉ Toeic</p>
                        <a class="btn" href="?r=category&catid=2">Vào thi ngay</a>
                    </div>
                </div>

                <div class="span4">
                    <div class="item">
                        <div class="ch-item ch-img-1 thumb">
                            <div class="ch-info">
                            </div>
                        </div>
                        <p>Chứng chỉ A2</p>
                        <a class="btn" href="?r=category&catid=3">Vào thi ngay</a>
                    </div>
                </div>
            </div>
        </div>    
        <!-- start 2 -->
        <div class="courses extras">
            <div class="extras-txt">
                <h1> TẠI SAO BẠN NÊN THI TIẾNG ANH TRỰC TUYẾN ? </h1>
                <!--<p class="subtitle2"> This Landing Page  Help You Get More Subscribers </p>-->

                <ul class="extras-list">
                    <li><img src="./assets/images/yes.png"> Biết ngay trình độ tiếng anh của mình  </li>
                    <li><img src="./assets/images/yes.png"> Không phải chờ đợi  đăng ký là thi ngay  </li>
                    <li><img src="./assets/images/yes.png"> Không phải tốn quá nhiều tiền để biết trình độ của mình  </li>
                    <li><img src="./assets/images/yes.png"> Có kế hoạch ôn luyện phù hợp với từng kỹ năng  </li>
                    <li><img src="./assets/images/yes.png"> Thi đủ các kỹ năng nghe  nói  đọc  viết như thi thật  </li>
                    <li><img src="./assets/images/yes.png"> Đội ngũ giảng viên giỏi  chuyên nghiệp sẽ chấm và tư vấn cho bạn  </li>
                    <li><img src="./assets/images/yes.png"> Kết quả thi sẽ có sau 24h  </li>
                </ul>

                <div class="buttons">
                    <a href="#responsive" data-toggle="modal" class="bt1 button"> THI NGAY </a>
                </div>

            </div>

            <div class="extras-slider relative" style="position: relative;">
                <img alt="Thi ielts Biết ngay trình độ tiếng anh của mình" src="./assets/images/slide1.jpg" class="slide2" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 424px; height: 253px;">
                <img alt="Thi toeic" src="./assets/images/slide2.jpg" class="slide2" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 424px; height: 253px;">
                <img alt="thi Toefl" src="./assets/images/slide3.jpg" class="slide1" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1; width: 424px; height: 236px;">

            </div>
        </div>
        <!-- end 2 -->

        <!-- start 3 -->
        <div class="courses extra">
            <div class="row-fluid">

                <div class="span6">
                    <h3>Học viên điểm cao</h3>
                        <ul class="testimonials testimonial21">
                            <li class="student" style="overflow: hidden; float: none; width: 300px; height: 106px;">
                                <img alt="Nguyễn Thị Bích - 8" src="./assets/images/click2learn-W4-anh-dai-dien-hoc-vien.jpg">
                                <h5>
                                    Ielts Academic : 8 <br>
                                    Nguyễn Thị Bích <br>
                                    Thật tuyệt khi những cố gắng của tôi đã thành sự thực
                                </h5>
                            </li>
                            <li class="student" style="overflow: hidden; float: none; width: 300px; height: 106px;">
                                <img alt="Nguyễn Thị Ánh - 8.5" src="./assets/images/click2learn-EQ-anh-dai-dien-hoc-vien.jpg">
                                <h5>
                                    Ielts Academic : 8.5 <br>
                                    Nguyễn Thị Ánh <br>
                                    Học trực tuyến là bí quyết của tôi
                                </h5>
                            </li>
                            <li class="student" style="overflow: hidden; float: none; width: 300px; height: 106px;">
                                <img alt="Nguyễn Thị Bích Hà - 8.5" src="./assets/images/click2learn-DE-anh-dai-dien-hoc-vien.PNG">
                                <h5>
                                    Ielts General Training : 8.5 <br>
                                    Nguyễn Thị Bích Hà <br>
                                    Tôi đã rất quyết tâm
                                </h5>
                            </li>
                        </ul>
                </div>
                <div class="span6">
                    <h3>Thí sinh mới thi gần đây</h3>
                        <ul class="testimonials testimonial21">
                            <li class="student" style="overflow: hidden; float: none; width: 200px; height: 100px;">
                                <img alt="Nguyễn Mạnh Tiến - 800" src="./assets/images/click2learn-6G-anh-dai-dien-hoc-vien.jpg">
                                <h5>
                                    Toeic Basic Working Proficency : 800 <br>
                                    Nguyễn Mạnh Tiến <br>
                                    Tôi biết mình cần phải chăm chỉ hơn
                                </h5>
                            </li>
                            <li class="student" style="overflow: hidden; float: none; width: 200px; height: 100px;">
                                <img alt="Phan Tiến Tặng - 8.5" src="./assets/images/click2learn-2C-anh-dai-dien-hoc-vien.gif">
                                <h5>
                                    Ielts General Training : 8.5 <br>
                                    Phan Tiến Tặng <br>
                                    Cố gắng và nỗ lực trong mọi hoàn cảnh
                                </h5>
                            </li>
                            <li class="student" style="overflow: hidden; float: none; width: 200px; height: 100px;">
                                <img alt="Đào Thị Hiền - 8.5" src="./assets/images/click2learn-CS-anh-dai-dien-hoc-vien.jpg">
                                <h5>
                                    Ielts General Training : 8.5 <br>
                                    Đào Thị Hiền <br>
                                    Tôi yêu nền giáo dục Mỹ và muốn tới đó để học tập
                                </h5>
                            </li>
                        </ul>
                </div>

            </div>
        </div>
        <!-- end 3 -->
    </div>
</div>