<div class="clearfix"></div>
<div class="container-fluid">
    <div class="row">
        <div style="text-align: center; background:blue;"> 
            <span style="color:rgb(255, 255, 255);">
                <strong>© Đề án ngoại ngữ Quốc gia 2020</strong><br> 
                <strong>Địa chỉ: </strong>Quyết Thắng – Thành phố Thái Nguyên<br> 
                <strong>Điện Thoại:</strong>0280.3846254<strong>, Fax:</strong> 0280 3846237, <strong>Email:</strong> banbientap@ictu.edu.vn
            </span>
        </div>
    </div>
</div>
