<!-- slider- starts-->
<div id="slider-wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Thi tiếng Anh trực tuyến</h1>
                <p>Thi mọi lúc mọi nơi</p>
                <p><a class="mybtn-big-green" data-toggle="modal" href="#responsive">VÀO THI NGAY</a></p>

                <!--spacer here-->
                <div class="spacer-30px"></div>

                <!--slider starts-->
                <div class="flexslider image-slider">
                    <ul class="slides">
                        <li class="slide3 flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;"> <img src="./assets/images/tieng-anh-thi-tieng-anh-hoc-elearning-hoc-truc-tuyen-click2learn2.png" alt="Thi tiếng anh trực tuyến"> </li>
                        <li class="slide4" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;"> <img src="./assets/images/tieng-anh-thi-tieng-anh-hoc-elearning-hoc-truc-tuyen-click2learn3.png" alt="Kiểm tra trình độ tiếng anh"> </li>

                    </ul>
                    <ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
                <!--slider ends-->

            </div>
        </div>
    </div>
</div>
<script src="./assets/js/modernizr.js" type="text/javascript"></script>
<script src="./assets/js/jquery.validate.js" type="text/javascript"></script>
<script src="./assets/js/jquery.form.js" type="text/javascript"></script>
<script src="./assets/js/jquery.flexslider-min.js" type="text/javascript"></script>
<!--<script src="./assets/js/custom.js" type="text/javascript"></script>-->
<script src="./assets/js/jquery.cycle.js" type="text/javascript"></script>
<script src="./assets/js/jcarousellite_1.0.1.pack.js" type="text/javascript"></script>
<script src="./assets/js/jquery.mousewheel.min.js" type="text/javascript"></script>
<div id="responsive" class="modal hide fade" tabindex="-1" data-width="860">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Đóng lại">
            <img src="./assets/images/close.png" alt="Chọn chứng chỉ tiếng anh bạn muốn thi"/>
        </button>
        <h3>Chọn chứng chỉ tiếng anh bạn muốn thi</h3>
    </div>
    <div class="courses" id="content">
        <div class="row-fluid">
            <div class="span4">
                <div class="item">
                    <div class="ch-item ch-img-4 thumb">
                        <div class="ch-info">
                        </div>
                    </div>
                    <p>Kiểm tra trình độ</p>
                    <a class="btn" href="?r=category&catid=1">Vào thi ngay</a>
                </div>
            </div>
            
            <div class="span4">
                <div class="item">
                    <div class="ch-item ch-img-2 thumb">
                        <div class="ch-info">
                        </div>
                    </div>
                    <p>Chứng chỉ Toeic</p>
                    <a class="btn" href="?r=category&catid=2">Vào thi ngay</a>
                </div>
            </div>

            <div class="span4">
                <div class="item">
                    <div class="ch-item ch-img-1 thumb">
                        <div class="ch-info">
                        </div>
                    </div>
                    <p>Chứng chỉ A2</p>
                    <a class="btn" href="?r=category&catid=3">Vào thi ngay</a>
                </div>
            </div>



        </div>
    </div>

</div>
